body{
  width: 90%;
  background-color: black;
  margin: 20px auto 20px auto;
  
}

header{
  height: 75px;
  background-color: lightcyan;
}

aside{
  height: 150px;
  background-color: lightpink; 
}

.containerc {
  height: 125px;
  background-color: lightcoral;
}

.containerd{
  height: 125px;
  background-color: crimson;
}


#e{
  width: 50%;
  height: 250px;
  background-color: cornflowerblue;
  float:left;
}

#f{
  width: 50%;
  height: 250px;
  background-color: cornsilk;
  float: right;
}

#g{
  width: 50%;
  height: 250px;
  background-color: cornsilk;
  float:left;
}

#h{
  width: 50%;
  height: 250px;
  background-color: cornflowerblue;
  float: right;
}

footer{
  height: 80px;
  background-color:lightcyan;
  clear: both;  
}

@media all and (min-width: 768px){
  header{
    height: 100px;
    background-color: #44B293;
  }

  aside{
    height: 600px;
    width: 20%;
    float: left;
    background-color: #FFFFFF;
  }

  .containerc{
    height: 200px;
    width: 40%;
    float: left;
    background-color: #7BFFD9;
  }

  .containerd{
    height: 200px;
    width: 40%;
    float: right;
    background-color: #B23E32;
  }

  #e{
    height: 250px;
    width: 20%;
    background-color: #FF9678;
  }
  #f{
    height: 250px;
    width: 20%;
    background-color: #B24F32;
  }
  #g{
    height: 250px;
    width: 20%;
    background-color: #FF9678;
  }
  #h{
    height: 250px;
    width: 20%;
    background-color: #B24F32;
  }

  footer{
    height:150px;
    width:80%;
    clear: none;
    float: right;
    background-color: #44B293;
  }

}
@media all and (min-width: 1024px){
  header{
    background-color: #7A44B2;
  }
  aside{
    background-color: #E7CFFF;
  }
  .containerc{
    background-color: #BB7BFF;
  }
  .containerd{
    background-color: #818177;
  }
  #e{
    background-color: #FFFFCB;
  }
  #f{
    background-color: #EA9497;
  }
  #g{
    background-color: #FFFFCB;
  }
  #h{
    background-color: #EA9497
  }
  footer{
    background-color: #7A44B2;
  }
}